<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.noorganization.googlecertificationkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GoogleCertificationKotlinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".extra_code_lab_injection.step3.LoginDaggerActivity" />
        <activity android:name=".extra_code_lab_injection.step1.CarInjectNativeActivity" />
        <activity android:name=".code_lab_unit_test.UnitTestCalculatorActivity" />
        <activity android:name=".codelab_room_livedata_viewmodel.NewWordActivity" />
        <activity android:name=".codelab_jobscheduler.JobServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".codelab_workmanager.SelectImageActivity" />
        <activity android:name=".codelab_workmanager.BlurActivity" />
        <activity android:name="codelab_room_livedata_viewmodel.RoomWordsSampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".codelab_jobscheduler.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>